@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: asherpunk;
  src: url("./assets/fonts/asher-punk-font/AsherPunkDemoVersion-ALZJ2.ttf");
}

.asher-punk {
  font-family: asherpunk;
}